{% extends "layout.html" %}

{% block main %}

<!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
<h1 class="mb-3">Form</h1>

<!-- http://getbootstrap.com/docs/4.1/components/forms/ -->
<form action="/form" method="POST">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp"
            placeholder="Enter name">
        <span class="d-none">Please fill in a name</span>
    </div>
    <div class="form-group">
        <label for="department">Choose department:</label>
        <select class="form-control" name="department" id="department">
            <option value="" disabled selected>Department</option>
            <option value="marketing">Marketing</option>
            <option value="sales">Sales</option>
            <option value="finance">Finance</option>
            <option value="hr">Hr</option>
        </select>
        <span class="d-none">Please select a department</span>
    </div>
    <div>
        <div class="custom-control custom-radio">
            <input class="custom-control-input" type="radio" name="gender" value="male" id="male">
            <label class="custom-control-label" for="male">Male</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" name="gender" value="female" id="female" class="custom-control-input">
            <label class="custom-control-label" for="female">Female</label><br>
            <span class="d-none">Please select a gender</span>
        </div>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<script>
    formEl = document.querySelector("form");
    formEl.addEventListener("submit", (e) => {
        e.preventDefault();
        // Simple client validation:
        if (document.querySelector("input[name='name']").value.trim() === "")
            document.querySelector("input[name='name']+span").classList.toggle("d-none")
        else if (document.querySelector("select[name='department']").value.trim() === "")
            document.querySelector("select[name='department']+span").classList.toggle("d-none")
        else if (!document.querySelector("input[value='male']").checked &&
            !document.querySelector("input[value='female']").checked)
            document.querySelector("input[value='female']~span").classList.toggle("d-none")
    });
</script>

{% endblock %}